*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  margin: 2rem;
}

.navButton:hover {
  background-color: hsl(180, 100%, 50%);
  transform: translateY(-3px);
}
.navButton {
  background-color: hsl(155, 100%, 50%);
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 2rem;
  margin-right: 2rem;
}
body {
}

.topBar {
  margin: 0;
  font-size: 2rem;
}

#timeLeft {
  margin-top: 5rem;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

#timeLeftText {
  margin: 0;
}

.mainContent button {
  justify-content: center;
}

#startQuiz {
  font-size: 2rem;
  padding: 1rem;
  background-color: hsl(180, 100%, 50%);
}

#startQuiz:hover {
  background-color: hsl(155, 100%, 50%);
  transform: translateY(-3px);
}
